src/main/resources/xsd/thomas-buyers.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="CustomerList">
  		<xs:complexType>
    		<xs:sequence>
      			<xs:element ref="Customer"/>
      		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    
    <xs:element name="Customer">
  		<xs:complexType>
    		<xs:sequence>
    			<xs:element name="id" type="xs:long"/>
      			<xs:element name="firstname" type="xs:string"/>
      			<xs:element name="lastname" type="xs:string"/>
      			<xs:element name="street" type="xs:string"/>
      			<xs:element name="city" type="xs:string"/>
      		</xs:sequence>
      	</xs:complexType>
     </xs:element>
</xs:schema>